*.class
PhdPrototype/build/*
PhdPrototype/neo4j/*
PhdPrototype/neo4j/data/wiggle.db
PhdPrototype/neo4j/data/ASTAnalyzer
PhdPrototype/bin/
PhdPrototype/build/libs
PhdPrototype/bon/
ProgQuery/build/*
ProgQuery/neo4j/*
ProgQuery/neo4j/data/wiggle.db
ProgQuery/neo4j/data/ASTAnalyzer
ProgQuery/bin/
ProgQuery/build/libs
ProgQuery/bon/