*.class
ProgQuery/build/*
ProgQuery/neo4j/*
ProgQuery/bin/
ProgQuery/bon/
ProgQuery/temp/output/*
ProgQuery/.gradle/*
ProgQuery/.classpath
ProgQuery/.project
ProgQuery/cdAdapted.bat
ProgQuery/cdAdaptedUpdated.bat
ProgQuery/pdgTest_wiggle.bat
ProgQuery/python_measurement.bat
ProgQuery/startup.test.csv
ProgQuery/*.pyc
ProgQuery/compilePlugin.bat
ProgQuery/compileAndExecuteWithArgs.bat
ProgQuery/executePlugin--.bat
ProgQuery/loadExecuteAndView.bat